@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@300;400;500;600;700&display=swap');

:root {
    --white: white;
    --dark: #212324;
    --lightGrey: #727679;
    --background: #F6F5F1;
    --textColor: #967F79; 
    --transition: all 0.5s ease;
}

.about{
    width: 100%;
    padding: 78px 0px;
    background-color: var(--background);
}

.about img{
    height: auto;
    width: 500px;
}

.about-text{
    width: 450px;
}

.main{
    width: 1500px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: var(--textColor);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: var(--textColor);
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p{
    color: var(--textColor);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

