@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@300;400;500;600;700&display=swap');

:root{
  --white: white;
  --dark: #212324;
  --darkGrey: #36393B;
  --lightGrey: #727679;
  --background: #F6F5F1;
  --textColor: #967F79; 
  --lightGreen: #22AAA1;
  --darkGreen: #1d8881;
  --transition: all 0.5s ease;
}

.form-container {
    background-color: var(--background);
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    background-color: var(--background);
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid var(--textColor); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: var(--background);
    color: var(--dark);
    padding: 12px 20px;
    border: 1px solid var(--dark);
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    border: none;
    background-color: var(--textColor);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: var(--background);
    padding: 20px;
  }